In [10]:
import pandas as pd
import sqlite3
import pymysql
import mysql.connector
from mysql.connector import Error


def create_server_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        df=pd.read_sql('/home/sunil/workspace/pph/mustfa/bristol-air-quality-data.sql', connection)
        print(df)
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection
# con = sqlite3.connect(":memory:")

connection = create_server_connection("localhost", "root", "root", "testdb")

df = pd.read_sql('/home/sunil/workspace/pph/mustfa/bristol-air-quality-data.sql', connection)
df

DatabaseError: Execution failed on sql '/home/sunil/workspace/pph/mustfa/bristol-air-quality-data.sql': 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/home/sunil/workspace/pph/mustfa/bristol-air-quality-data.sql' at line 1

In [2]:
# Task 3 solution

import sqlite3, csv
import pandas as pd

def generate_sql_from_csv(csv_filename):
    sql_text = '''DROP TABLE IF EXISTS `bristol-air-quality`; CREATE TABLE `bristol_air_quality` (`Date Time` text, NOx real, NO2 real, NO real, SiteID INTEGER, PM10 real, NVPM10 real, VPM10 real, `NVPM2.5` real, `PM2.5` real, `VPM2.5` real, CO real, O3 real, SO2 real, Temperature real, RH real, `Air Pressure` real, Location text, geo_point_2d text, DateStart text, DateEnd text, Current text, `Instrument Type` text);'''

    with open(csv_filename) as csv_file:

        reader = csv.reader(csv_file, delimiter=';')
        next(reader)
        for row in reader:
            sql_text += f"INSERT INTO `bristol_air_quality` VALUES {tuple(row)};"
#     output_sql_filename = f'{csv_filename.split(".")[0]}.sql'
    output_sql_filename = "script.sql"
    with open(output_sql_filename, 'w') as sql_file:

        sql_file.write(sql_text)
    return output_sql_filename


air_quality_sql = generate_sql_from_csv('bristol-air-quality-data.csv')


# with open(air_quality_sql, 'r') as sql:


#     con = sqlite3.connect(":memory:")

#     cur = con.cursor()
#     cur.executescript(sql.read())       

#     con.commit()

#     df = pd.read_sql("select * from `bristol-air-quality`;", con)

#     print(df.info)

In [17]:
import sqlite3
import pandas as pd
import mysql.connector

with open("script.sql") as sql:
#     con = sqlite3.connect("database.db")
    con = mysql.connector.connect(user='root', password="root", host="localhost", database='testdb')
    cur = con.cursor()
    cur.execute(sql.read())
    con.commit()
    df = pd.read_sql("select * from `bristol_air_quality`", con)
    print(df.info)

OperationalError: 2055: Lost connection to MySQL server at 'localhost:3306', system error: Connection not available.

In [13]:
import pymysql
import mysql.connector
from mysql.connector import Error


# def create_server_connection(host_name, user_name, user_password, db_name):
#     connection = None
#     try:
#         connection = mysql.connector.connect(
#             host=host_name,
#             user=user_name,
#             passwd=user_password,
#             database=db_name
#         )
# #         df=pd.read_sql('/home/sunil/workspace/pph/mustfa/bristol-air-quality-data.sql', connection)
# #         print(df)
#         print("MySQL Database connection successful")
#     except Error as err:
#         print(f"Error: '{err}'")

#     return connection

# connection = create_server_connection("localhost", "root", "root", "testdb")

cnx = mysql.connector.connect(user='root', password="root", host="localhost", database='testdb')

In [14]:
cnx